.btn-grupo {
    position: absolute;
    left: calc(50% - 18px);
}

.col-criadouro {
    position: relative;
}

.flex-criadouro{
    height: 100%;
}

.col-grupo {
    height: 36px;
    margin-bottom: 18px;
    z-index: 99;
    position: relative;
}

.close-container {
    position: relative;
    left: 0;
    width: 36px;
    margin-left: auto;
    margin-right: auto;
}

.col-criadouro:has(.ui-dropped) .close-container::after {
    font-family: "bootstrap-icons";
    content: "\F62A";
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: white;
    cursor: pointer;
    border: 2px solid #035c8c;
    color: #035c8c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-grupo,
.input-criadouro {
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-criadouro {
    background-color: white;
    border: 2px solid #035c8c;
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-top: auto;
}

.btn-grupo,
.ui-dropped {
    color: white;
    background-color: #035c8c;

    &:hover {
        color: white;
        background-color: #555;
    }
}