.table {
    .titulo_grupos {
        width: 10%;
    }

    .titulo_depositos,
    .titulo_intersetoriais,
    .titulo_imediata {
        width: 30%;
    }

    th {
        text-align: center;
        vertical-align: middle;
    }
}

.row-grupos {
    width: 100%;
}

textarea,
.btn-grupo-texto {
    aspect-ratio: 4 / 3;
    background-color: #f7f9fc;
    width: 100%;
    outline: none;
    border: none;
    resize: none;
    font-size: 14px;
    font-weight: 700;
}

textarea{
    text-align: center;
}

.btn-grupo {
    width: 24px;
    height: 24px;
    display: flex;
    margin-bottom: 0.5em;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #035c8c;

    &:hover {
        color: white;
        background-color: #555;
    }
}

.btn-grupo-texto .btn {
    font-size: 14px;
    height: 100%;
}
