.btn-grupo {
    position: absolute;
    left: calc(50% - 18px);
}

.col-criadouro {
    position: relative;
}

.flex-criadouro {
    min-height: 100%;
    
}

.col-grupos{
    hr{
        border-color: var(--color1);
        opacity: 1;
    }
}

.col-grupo {
    height: 36px;
    margin-bottom: 18px;
    z-index: 99;
    position: relative;
}

.close-container {
    position: relative;
    left: 0;
    width: 36px;
    margin-left: auto;
    margin-right: auto;
}
/*
.col-criadouro:has(.ui-dropped) .close-container::after {
    font-family: "bootstrap-icons";
    content: "\F62A";
    border-radius: 50%;
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background-color: white;
    cursor: pointer;
    border: 2px solid var(--color1);
    color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.btn-grupo,
.input-criadouro {
    width: 36px;
    height: 36px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-criadouro {
    background-color: white;
    border: 2px solid var(--color1);
    border-radius: 4px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
//    margin-top: auto;
}

.card-feedback {
    font-size: 20px;

    h5 {
        font-weight: 600;
    }
}

.btn-grupo,
.ui-dropped {
    color: white;
    background-color: var(--color1);

    &:hover {
        color: white;
        background-color: #555;
    }
}

.ui-dropped {
    border: none !important;
}

@media screen and (max-width: 600px) {
    .card-criadouro{
        margin-bottom: 11em !important;
    }

    .col-grupos {
        position: fixed;
        width: 100%;
        z-index: 99;
        background-color: #f7f9fc;
        left: 5%;
        bottom: 0;
        width: 90%;
        border-radius: 16px 16px 0;

        .card-title {
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .row-grupos {
            margin-left: auto;
            margin-right: auto;
            width: 75%;
        }
    }
}
