@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Inter", sans-serif;
}

:root{
    --color1: #B96C2C;
}

body {
    background-color: #f7f9fc;
    display: flex;
}

.sidebar {
    height: 100vh;
    max-width: 240px;
    padding: 1.5em;
    position: sticky;
    z-index: 99;
    background-color: #f7f9fc;
    top: 0;
     
    .btn-collapse::after {
        font-family: "bootstrap-icons";
        content: "\F284";
    }
    
    .btn-collapse.collapsed::after {
        content: "\F285";
    }
}


.btn {
    font-weight: 600;
    font-size: 20px;
    border-radius: 4px;
}

.btn-next,
.btn-collapse {
    color: white;
    background-color: var(--color1);

    &:hover {
        color: white;
        background-color: #555;
    }
}

.btn-opt,
.btn-back,
.btn-bordered {
    color: var(--color1);
    border: 1px solid var(--color1);

    &:hover {
        color: #5c6471;
        border: 2px solid #5c6471;
    }

    &:active {
        background-color: #5c6471 !important;
        color: white !important;
    }
}

ul {
    list-style-type: none;
    padding: 0;

    h6 {
        color: #5c6471;
        font-size: 14px;
        font-weight: 700;
    }
}

.game {
    width: 100%;

    .title {
        color: var(--color1);
        font-weight: 600;
        padding: 1.5em;
    }

    .game-container {
        padding: 1.5em 1.5em 0 1.5em;
        //height: 100%;
        background-color: white;

        .game-body {
            background-color: #dbe0e7;
            border-radius: 16px 16px 0 0;
            //height: 100%;

            .game-card {
                width: 400px;
                height: 520px;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    width: 1em;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: transparent;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: var(--color1);
                    border: 5px solid white;
                    border-radius: 9999px;
                }

                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background: #555;
                }
            }
        }
    }
}

.ui-wrong{
    background-color: #FF6058 !important;
}

.ui-right{
    background-color: #27CA40 !important;
}

.modal-content{
    height: 520px;
}

@media screen and (max-width: 600px){
    body{
        flex-direction: column;
    }

    .sidebar{
        position: relative;
        max-width: 100%;

        img{
            width: 100px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .sidebar, .sidebar .h-100{
        height: auto !important;
    }

    .sidebar, .title, .game-container{
        padding: 1em !important;
    }

    .btn-collapse::after {
        content: "\F286" !important;
    }
    
    .btn-collapse.collapsed::after {
        content: "\F282" !important;
    }

    .game{

        .title{
            font-size: 18px;
            text-align: left !important;
        }

        .game-card{
            margin-left: 1em !important;
            margin-right: 1em !important;

            .card-title{
                overflow: visible;
            }
        }
    }
}